[Desktop Entry]
Name=VHelper
Comment=Make vtubing suck less on Linux
Exec=vhelper
Icon=com.vhelper.app
Terminal=false
Type=Application
Categories=Game;Utility;
Keywords=vtuber;shoost;spout;vtube;proton;pipewire;
StartupWMClass=com.vhelper.app
